

<div id="mySidenav" class="sidenav" (click)="closeNav()">
    <a  class="closebtn" >&times;</a>
    <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
    <a [routerLink]="['/addcash']" routerLinkActive="active">Add Cash</a>  
    <a [routerLink]="['/login']" routerLinkActive="active">Login</a>  
</div>

<div class="fixedheader" >     
<div class="app-header" >
<div class="navbar-header navbar-header-white">
  
  
        <a [routerLink]="['/addcash']" routerLinkActive="active">
          <span style="font-size:30px;cursor:pointer;float: left;padding-right: 40px;" >&#9776; 
          </span>
        </a>
      
          <span style="line-height: 3; font-weight: 900;">
             Emergency Contacts
          </span>
  
          <span style="font-size:20px;cursor:pointer;float: right;font-weight: 700;" (click)="openNav()"> 
          <img src="assets/img/cash-in-hand.png" style="width: 40px; height: 30px; padding-right: 10px;">
          </span>

    
</div>
</div>
</div>
